@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-lightgray: hsl(212, 45%, 89%);
  --clr-grayishblue: hsl(220, 15%, 55%);
  --clr-darkblue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-lightgray);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 300px;
  border-radius: 20px;
  background-color: var(--clr-white);
  padding: 15px;
}

.card-img img {
  border-radius: 20px;
  max-width: 300px;
}

.card-content {
  text-align: center;
  font-family: 'Outift', sans-serif;
  padding: 10px;
}

.card-content h3 {
  font-size: 22px;
  font-weight: 700;
  color: var(--clr-darkblue);
}

.card-content p {
  margin-top: 10px;
  font-size: 15px;
  font-weight: 400;
  color: var(--clr-grayishblue);
}